{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}東方語句検索サイト(仮){% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1>東方語句検索サイト(仮)</h1>
        <nav>
	    <a href="{% url 'home' %}">ホーム</a> |
	    <a href="{% url 'search_articles' %}">検索</a> |
            {% if user.is_authenticated %}
	        <a href="{% url 'create_article' %}">記事作成</a> |
		<a href="{% url 'logout' %}">ログアウト</a>
            {% else %}
                <a href="{% url 'login' %}">ログイン</a>
            {% endif %}
        </nav>
    </header>
    
    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 東方語句検索サイト</p>
    </footer>
</body>
</html>

